body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f0f2f5;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0b1447;
}

.login-container {
    max-height: 100VH;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-container input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #d62828;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    background: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.sidebar h2 {
    color: #d62828;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar ul li a.active {
    color: #d62828;
}

.content {
    margin-left: 240px;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tag {
    background: #fdd;
    color: #d62828;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 12px;
}

.status {
    float: right;
    background: #e0e0e0;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 12px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}

header {
    float:right;
}